.prices {
    padding: 48px 0;

    &__grid {
        margin-top: 36px;
        display: grid;
        grid-template-columns: 521px 400px 183px;
        gap: 24px;

        &-social {
            display: flex;
            gap: 16px;
            align-items: center;

            &-icon {
                width: 56px;
                height: 56px;
            }

            &-mobicon {
                display: none;
            }

            &-name {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: $gray1;
            }
        }

        &-descr {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $gray2;
        }
    }
}